<div id="posts"></div>

<div id="loading" style="display: none">Loading...</div>

@Ajax.ActionLink("Get All Post Titles",
    "GetPosts",
    null,
    new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId = "posts",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loading",
        OnSuccess = "iDidIt"
    },
    new { @class = "btn btn-success" })

<script type="text/javascript">
    function iDidIt(res) {
        console.log(res);
    }
</script>