extends ../shared/_master
block body
    != messages()

    form(action="/items" method="POST")
        input.form-control(name="text" required type="text", placeholder="Enter Text")
        button.btn.btn-success
            | Save