<input id="input-username" type="text" />
<input id="input-password" type="password" />

<a id="signin-btn" class="btn btn-success" href="#/login">Log in</a>
<a id="register-btn" class="btn btn-success" href="#/register">Register</a>
