@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h3>@ViewBag.FormMessage</h3>
<div id="container-form">
<form method="post" id="contact-form">
    <textarea name="message" id="message-form"></textarea>
    <input type="text" name="name" placeholder="Name" id="name-form" />
    <input type="submit" value="Send" />
</form>
</div>

@section scripts{
    <script>
        $("#contact-form").submit((ev) => {
            ev.preventDefault();

            $.post('', { message: $("#message-form").val(), name: $("#name-form").val() }).done((response) => {
                $("#container-form").html(response);
            });
            return false;
        });
    </script>    
    
}