<div class='itemTemplateWrapper'>

    <div><span>Item: </span><span>{{item}}</span></div>
    <div><span>Description: </span><span>{{description}}</span></div>
    <div><span>Price: </span><span>{{price}}</span></div>

</div>