mixin nav()
    ul
        li
            a(href="/")
                | HOME
        li
            a(href="/items")
                | ALL ITEMS
        li
            a(href="/form")
                | FORM